@model MyNews.Models.Publication
<div style="justify-content:center;">
<div class="containerPost" style=" width: 100%; border: 3px solid black; margin-top: 100px;">
    <div class="uppart" style=" display: flex; gap: 380px; padding-top: 20px;">
        <a class="ava_nick" asp-action="UserAccount" asp-controller="Home" asp-route-name="@Model.User.UserName" style=" display: flex; align-items: center; max-width: 130px; padding-left: 20px;">
            <h4 class="nick">
                @Model.User.UserName
            </h4>
        </a>
        <div class="data" style="display: flex;">
            @Model.Date
        </div>
    </div>
    <div class="title">
        <h1>@Model.Title</h1>
    </div>
    <div class="wrapper" style="width: 100%; margin-top:30px; margin-bottom:30px;">
            @{
                foreach (var item in Model.Items)
                {
                    if (item.Type == "Img")
                    {
                        <img style='width:100%' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Data))" />
                    }
                    if (item.Type == "Text")
                    {
                        <p style="display: flex; font-size:20px; padding-left:20px;">@item.Text</p>
                    }
                    <br />
                }
            }
    </div>
</div>
</div>